//Features section
.features {
    padding-bottom:0;
}
.features__container {
   display: flex;
   align-items: center;
   gap: var(--indent);
   align-items:flex-start;
}

.features__heading {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}
.features__paragraf {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--paragraf-color);
    width: 270px;
}

.features__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    background-position: center;
    background-color: var(--primary-background-color);
    margin-bottom:30px;

}