//Features section
.features {
  padding-bottom: 0;
}

.features__container {
  display: flex;
  flex-direction: column;
  gap: var(--indent);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.features__list {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.features__heading {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.features__paragraf {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraf-color);
}

.features__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  background-position: center;
  background-color: var(--primary-background-color);
  margin-bottom: 30px;
}
