//logos
.logo__title{
    text-align: center;
    margin-bottom:50px;
    font-weight: 700;
    font-size: 36px;
}
.logo__icon{
    display: flex;
    gap:30px;
}

.logo__link{
    display:flex;
    width: 170px;
     border-radius: 4px;
    height: 92px;
    align-items: center;
    justify-content:center;
    fill: var(--socials-svg-color);
    outline: 1px solid var(--socials-svg-color);
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus{
    border: 1px solid #2196F3;
    fill: var(--primary-accent-color);
}
}