//Button
.button {
    display: block;
    margin:auto;
    padding: 10px 24px;
    min-width: 200px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--primary-accent-color);
    border: none;
    cursor:pointer;
    border-radius: 4px;
    transition-property: outline, backround-color;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:1200px) {
        min-width:152px;
        padding: 10px 32px;

    }

&:hover,
&:focus{
    background-color:var(--overlov-tech-bg-color);
    outline: 1px solid var(--primary-accent-color)
}
}