.modal__form-group{
    margin-bottom: 20px;
}
.modal__title{
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom:12px;

  // desktop
        @media screen and (min-width: 1200px) {
            line-height: calc(23 / 20);
        }
}
.modal__label{
    display:block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--paragraf-color);
    margin-bottom: 4px;
}
.modal__form-wrapper{
    margin-bottom: 10px;
    position:relative;
}
.modal__field{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 42px;
    outline: 1px solid transparent;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__field:focus{
   outline-color:var(--primary-accent-color);
}

.modal__form-icon{
    position: absolute;
    top:50%;
    left:8px;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field:focus + .modal-form-icon{
    fill: var(--primary-accent-color);
}

.modal__form-message{
    display: block;
    width: 100%;
    height: 120px;
    resize:none;
    padding: 12px 16px;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal__form-message:focus{
    outline-color:var(--primary-accent-color);
}

.modal__agreement{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-bottom: 30px;
    height: 24px;
}
.modal__form-agreement-desc{
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.03em;
    color: #757575;
    color: var(--paragraf-color);

    @media screen and (min-width:1200px){
    font-weight: 400;
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
         color: #757575;
    }
}
.modal__form-agreement-link{
    color: var(--primary-accent-color);
}

.modal__form-checkbox{
    appearance:none;
    width: 16px;
    height: 15px;
    border: 1px solid var(--text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    outline: 1px solid transparent;
    transition: baground-color border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon-checbox{
    opacity: 0;
    visibility: hidden;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-checkbox:checked{
    border-color: var(--primary-accent-color);
    background-color: var(--primary-accent-color);
    box-shadow:none;
}
.modal__form-checkbox:checked + .icon-checbox{
    fill:var(--white-color);
    border: 0.2px solid var(--white-color);
}
.modal__form-checkbox:checked + .icon-checbox{
    opacity:unset;
    visibility:visible;
}

.modal__form-btn{
    display:block;
    margin: 0 auto;
}
.modal__form-btn{
    display:inline-flex;
    display: block;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content:center;
    text-align: center;
}
.modal-form-agreement-desc{
    user-select: none;
}
.modal-form-checkb-icon{
    position:relative;
}

.modal-svg{
    position:absolute;
    top:4px;
    left:3px;
}
