//site-nav
.site-nav {
  @media screen and (min-width:1px){
        display:none;
    }

    @media screen and (min-width:768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 50px;
    }
    @media screen and (min-width:1200px) {
        display: flex;
            align-items: center;
            gap: 50px;
    }
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    position: relative;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 &:hover,
    &:focus {
        color: var(--primary-accent-color);
    }
}

.site-nav .current {
    color: var(--primary-accent-color)
}

.auth-nav {
   @media screen and (min-width:1px){
        display:none;
    }

    @media screen and (min-width:768px){
            display:block;
            margin-left: auto;
            gap: 50px;
            align-items: baseline;
    }

    @media screen and (min-width:1200px){
            display: flex;
            margin-left: auto;
            gap: 50px;
            align-items: baseline;
}
}

.auth-nav__mail {
    display:block;
    color: var(--paragraf-color);
    font-weight: 500;
    line-height: calc(14/12);
    letter-spacing: 0.02em;
    display: flex;
    align-items: baseline;
    align-items: center;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom:10px;

 &:hover,
    &:focus {
        color: #2196F3;
    }
}

.auth-nav__tel {
    color: var(--paragraf-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 14/12;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.auth-nav__icon {
    fill: currentColor;
    margin-right: 10px;

    &:hover,
    &:focus {
        fill: var(--primary-accent-color)
    }
}

.current-nav .current {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.current-nav::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%) scaleX(0.3);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    background-color: var(--primary-accent-color);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    transform: translateX(-50%) scale(1);
}