//portfolio
.button-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-text-color);
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--primary-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.galery__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.galery__paragraf {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--paragraf-color);
}
.galery-thumb {
  position: relative;
  overflow: hidden;
}
.overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlov-bg-color);
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: transform 250ms ease;
  user-select: none;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.button-portfolio {
  padding: 6px 22px;
  border-radius: 4px;
}
.galery-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
